<body>
    <div id="site-wrap">

        <section class="elite-leasure">
            <div class="contenu">
                <div class="elite-leasure-to-whom-appreciate">
                    <div class="info">
                        <h3>Элитный отдых для тех, кто ценит комфорт</h3>
                        <p>Приватные виллы, где все продумано до мелочей</p>
                        <div class="actions">
                            <a href="https://www.coral.ru/concepts/villas-and-suits/" target="_blank">Подробнее</a>
                        </div>
                    </div>
                </div>

                <h2>Villas and Suites</h2>
                <p>
                    Специально для самых взыскательных путешественников мы тщательно отобрали лучшие предложения
                    по размещению в нестандартных номерах. Просторные, стильные и уютные номера различных категорий,
                    оснащенные всем необходимым для отдыха класса люкс.
                </p>

                <div class="alternate-layout">
                    <div class="villas-and-suites">
                        <div class="info">
                            <h4>Размещение в отдельно стоящих виллах</h4>
                            <p>
                                Прекрасный вариант для тех, кто рассчитывает на особый комфорт и уединение или приватный
                                отдых с большой компанией. Эксклюзивная отделка интерьеров, современное техническое
                                оснащение, отдельный вход, наличие собственного бассейна, джакузи и даже сауны,
                                безупречный сервис и особая концепция обслуживания, которая включает услуги дворецкого,
                                ежедневную доставку свежих фруктов и цветов и другие всевозможные привилегии, станут
                                приятным дополнением к отдыху гостей, выбравших размещение в виллах. В нашем
                                ассортименте предложений есть виллы на любой вкус, включая роскошные виллы класса «люкс».
                            </p>
                        </div>
                        <div class="visual" style="background-image: url(/site/coral.ru/assets/villas-and-suites-visual-01.jpg);">
                            <div class="note">
                                Serenity 3 Bedrooms Pool Residence в отеле <a href="https://www.coral.ru/hotels/thailand/banyan-tree-phuket-phuket/" target="_blank">BANYAN TREE PHUKET</a>, Таиланд
                            </div>
                        </div>
                    </div>
                    <div class="villas-and-suites">
                        <div class="info">
                            <h4>Номера повышенной комфортности</h4>
                            <p>
                                Гарантированный суперкомфорт для тех, кто предъявляет исключительные требования
                                к отдыху. Подобные номера традиционно отличаются большой площадью, изысканным дизайном
                                и комфортным техническим оснащением. Данные номера состоят из нескольких комнат, включая
                                гостиную, одну или несколько спален и кабинет, что позволит с удобством принимать
                                гостей, отдыхать и заниматься неотложными делами. Для гостей, выбравших размещение
                                в любой категории SUITE, также предоставляются особая концепция обслуживания и различные
                                скидки на дополнительные услуги в отеле.
                            </p>
                        </div>
                        <div class="visual" style="background-image: url(/site/coral.ru/assets/villas-and-suites-visual-02.jpg);">
                            <div class="note">
                                Sea View Suite в отеле <a href="https://www.coral.ru/hotels/united-arab-emirates/emirates-palace-abu-dhabi/" target="_blank">EMIRATES PALACE</a>, ОАЭ
                            </div>
                        </div>
                    </div>
                </div>

<!--
                <h2>Дополнительные платные VIP-услуги</h2>
                <p>
                    Бронирование дополнительных услуг доступно после подтверждения тура.
                    <br>Пожалуйста, выберите отель или тур, и сообщите менеджеру, какие еще услуги вам нужны.
                </p>
-->



            </div>
        </section>

        <section class="fin-c2a">
            <div class="contenu">
                <h2>Забронируйте отдых в стиле Elite</h2>
                <div class="contact-block">
                    <div class="info">
                        <h3>Заполните заявку и наш менеджер поможет вам с подбором тура!</h3>
                        <div class="actions">
                            <a href="#app-form" class="ramp">Оставить заявку</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
</body>