<body>
<link rel="stylesheet" href="/site/coral.ru/css/main.less">

<div id="site-wrap">

    <section class="concept">
        <div class="contenu">
            <h2>Концепция отдыха Elite Service</h2>
            <p>
                Концепция элитного отдыха создана для самых взыскательных туристов, которые в первую очередь ценят
                повышенный комфорт и роскошь. Как правило, такие туры продуманы до мелочей и включают в себя
                проживание в комфортабельном номере отеля премиум-класса, индивидуальные экскурсионные программы,
                аренду автомобиля или яхты, а также предоставление персональных помощников, которые помогут в любом
                вопросе. Элитный отдых &mdash; это внимание к каждой детали!
            </p>

            <div class="concept-slider">
                <div class="slide" style="background-image: url(/site/coral.ru/assets/concept-visual-01.jpg);"></div>
                <div class="slide" style="background-image: url(/site/coral.ru/assets/concept-visual-02.jpg);"></div>
                <div class="slide" style="background-image: url(/site/coral.ru/assets/concept-visual-03.jpg);"></div>
                <div class="slide" style="background-image: url(/site/coral.ru/assets/concept-visual-04.jpg);"></div>
                <div class="slide" style="background-image: url(/site/coral.ru/assets/concept-visual-05.jpg);"></div>
            </div>

        </div>
    </section>

    <section class="why-coral-traver-elite">
        <div class="contenu">
            <h2>Почему Coral Travel Elite?</h2>
            <ul class="facts">
                <li>
                    <strong>28</strong>
                    <div class="label">лет организуем отдых без сложностей</div>
                </li>
                <li>
                    <strong>39</strong>
                    <div class="label">стран с вылетами из > 40 городов РФ</div>
                </li>
                <li class="last-on-mobile">
                    <strong>14 000</strong>
                    <div class="label nobr">агентств&ndash;партнеров</div>
                </li>
                <li>
                    <strong>675</strong>
                    <div class="label">фирменных офисов Coral Travel</div>
                </li>
                <li>
                    <strong>55</strong>
                    <div class="label">офисов Coral Elite по всей стране</div>
                </li>
            </ul>
        </div>
    </section>

    <section class="book-in-premium-offices">
        <div class="contenu">
            <h2>Бронируйте туры в офисах премиального обслуживания сети Coral Elite Service</h2>
            <p>
                55 элитных офисов в Москве и регионах &mdash; выбирайте ближайший к вашему дому.
            </p>
            <div class="actions">
                <a href="https://www.coral.ru/where-to-buy/?elite" class="hollow with-right-arrow" target="_blank">Все офисы</a>
            </div>
            <ul class="office-benefits">
                <li>
                    <div class="icon"></div>
                    <div class="label">Опытные специалисты по индивидуальным турам</div>
                </li>
                <li>
                    <div class="icon"></div>
                    <div class="label"> Комфортабельная зона для особых клиентов</div>
                </li>
                <li>
                    <div class="icon"></div>
                    <div class="label">Внимательное сопровождение для особенного отдыха</div>
                </li>
                <li>
                    <div class="icon"></div>
                    <div class="label">Удобные кресла, детская зона, напитки</div>
                </li>
            </ul>
            <div class="apply-contact">
                <div class="visual"></div>
                <div class="info">
                    <p class="strong">Бронируйте свой отдых в стиле Elite онлайн на сайте или по телефону.</p>
                    <div class="icon"></div>
                    <p class="strong">Поддержка &mdash; круглосуточно и без выходных.</p>
                    <div class="phone-number">+7 (495) 232 12 02</div>
                    <div class="actions">
                        <a href="#app-form" data-ym-reachgoal="elite-ost-z">Оставить заявку</a>
                    </div>
                </div>
            </div>
            <div class="additional-services">
                <h2>Дополнительные услуги и сервисы для путешественников</h2>
                <p>Ваш менеджер поможет оформить дополнительные услуги для более комфортного отдыха.</p>
                <ul class="services">
                    <li>
                        <div class="icon"></div>
                        <div class="label">Индивидуальные экскурсии</div>
                    </li>
                    <li>
                        <div class="icon"></div>
                        <div class="label">Индивидуальный трансфер</div>
                    </li>
                    <li>
                        <div class="icon"></div>
                        <div class="label">Доступен перелет бизнес-классом</div>
                    </li>
                    <li>
                        <div class="icon"></div>
                        <div class="label">Услуга CIP TERMINAL по прилете</div>
                    </li>
                    <li>
                        <div class="icon"></div>
                        <div class="label">Услуга CIP TERMINAL при вылете</div>
                    </li>
                    <li>
                        <div class="icon"></div>
                        <div class="label">Услуга FAST TRACK при вылете + CIP LOUNGE</div>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="destinations">
        <div class="contenu">
            <h2>Отели Elite Service по самым популярным направлениям</h2>
            <div class="destination-performance">
                <div class="video-bundle">
                    <div class="vimeo-video-box" data-content-marker="turkey" data-vid="796262741"></div>
                    <div class="vimeo-video-box" data-content-marker="tailand" data-vid="796262702"></div>
                    <div class="vimeo-video-box" data-content-marker="egypt" data-vid="796262589"></div>
                    <div class="vimeo-video-box" data-content-marker="maldives" data-vid="796262627"></div>
                    <div class="vimeo-video-box" data-content-marker="uae" data-vid="796262664"></div>
                    <div class="vimeo-video-box" data-content-marker="srilanka" data-vid="796262779"></div>
                </div>
                <div class="info-ctl">
                    <ul class="infos">
                        <li data-content-marker="turkey">
                            <h4>Турция</h4>
                            <p>
                                Турция славится лучшими люксовыми отелями, VIP-виллами и безупречным сервисом, на который
                                равняются во всем мире. Вас ждут роскошные СПА, личный ассистент и отдых на высоте.
                                На Анталийском побережье Deluxe и отели High-класса расположены &mdash; в Кемере и Белеке.
                                Элитные курорты Эгейского побережья &mdash; это Бодрум, Мармарис и Фетхие.
                            </p>
                        </li>
                        <li data-content-marker="tailand">
                            <h4>Таиланд</h4>
                            <p>
                                Роскошный пляжный отдых в окружении тропических лесов. Люксовые отели предлагают VIP-отдых
                                в разных форматах. Одни расположены в закрытых лагунах с кристальной голубой водой,
                                и подойдут для безмятежного отдыха. Другие — закрыты от глаз тропическими лесами, но находятся
                                в центре города. Здесь понравится активным гостям, которые хотят выходить из отеля.
                            </p>
                        </li>
                        <li data-content-marker="egypt">
                            <h4>Египет</h4>
                            <p>
                                Пушистый песок, коралловый риф в 30 метрах и европейский сервис. В отелях класса Deluxe вас
                                ждут свежепостроенные виллы с джакузи, рестораны а-ля карт, где готовят премиум-стейки
                                и Beach-бары, где замешивают коктейли из импортных напитков. В дайвинг-центре вас снабдят
                                масками и любым оборудованием, чтобы посмотреть на стайки полосатых рыбок и другие сокровища
                                Красного моря.
                            </p>
                        </li>
                        <li data-content-marker="maldives">
                            <h4>Мальдивы</h4>
                            <p>
                                Представьте, что пьёте кофе на террасе собственной виллы, а под вами плавают полосатые
                                желтые рыбки и плоские, словно крылатые, скаты! На Мальдивах встречаются зелень джунглей
                                с пляжами цвета слоновой кости и блестящими голубыми водами. В люксовых отелях вы сможете
                                насладиться велнес-центром мирового класса, а в путешествие по островам вас отвезет частный
                                гидросамолет.
                            </p>
                        </li>
                        <li data-content-marker="uae">
                            <h4>ОАЭ</h4>
                            <p>
                                Страна роскоши и высокого сервиса. В некоторых люксовых отелях готовят еду всемирно
                                известные повара, интерьеры обставлены в изысканном стиле, из панорамных окон открывается
                                захватывающий вид, а дворецкий круглосуточно исполняет любые ваши пожелания. Частные
                                пристани с роскошными яхтами и гигантские аквапарки размером в 15 футбольных полей. Шикарные
                                СПА помогут расслабиться и хорошо отдохнуть.
                            </p>
                        </li>
                        <li data-content-marker="srilanka">
                            <h4>Шри-Ланка</h4>
                            <p>
                                Окаймленные пальмами берега Индийского океана, элегантные бутик-отели, роскошные отели
                                на вершине скалы и приватные пляжи с золотым песком. Элитный отдых на Шри-Ланке &mdash;
                                это изысканно обставленные виллы, к которым ведут тропинки среди пышных тропических садов. Шикарные СПА
                                с аюрведическими процедурами, тренажерные залы и единственные на Шри-Ланке поля для гольфа
                                с 18 лунками.
                            </p>
                        </li>
                    </ul>
                    <p>Вы можете выбрать другие страны:</p>
                    <div class="ctl-slider">
                        <div class="slide" data-content-marker="turkey" data-selector-group="Турция" style="background-image: url(/site/coral.ru/assets/ctl-turkey.jpg);"><span class="label">Турция</span></div>
                        <div class="slide" data-content-marker="tailand" data-selector-group="Таиланд" style="background-image: url(/site/coral.ru/assets/ctl-tailand.jpg);"><span class="label">Таиланд</span></div>
                        <div class="slide" data-content-marker="egypt" data-selector-group="Египет" style="background-image: url(/site/coral.ru/assets/ctl-egypt.jpg);"><span class="label">Египет</span></div>
                        <div class="slide" data-content-marker="maldives" data-selector-group="Мальдивы" style="background-image: url(/site/coral.ru/assets/ctl-maldives.jpg);"><span class="label">Мальдивы</span></div>
                        <div class="slide" data-content-marker="uae" data-selector-group="ОАЭ" style="background-image: url(/site/coral.ru/assets/ctl-uae.jpg);"><span class="label">ОАЭ</span></div>
                        <div class="slide" data-content-marker="srilanka" data-selector-group="Шри-Ланка" style="background-image: url(/site/coral.ru/assets/ctl-srilanka.jpg);"><span class="label">Шри-Ланка</span></div>
                    </div>
                </div>
            </div>
        </div>


    </section>

    <div id="app-form">
        <a href="#_"></a>
        <div class="popin-container">
            <iframe id=smIframe-9doeskix4rtsls0n src=https://app2.salesmanago.pl/ms/sid/end4k5eqd4o8yidi/9doeskix4rtsls0n.htm frameborder=0 st yle=border:none;width:100%></iframe>
            <a href="#_" class="dismiss">&times;</a>
        </div>
    </div>

    <template id="_intro_markup">
        <div class="video-box kv">
            <div class="backdrop"></div>
            <div id="vimeo-visual-desktop" data-vid="796262515" class="vimeo-wrap hidden-on-mobile"></div>
            <div id="vimeo-visual-mobile" data-vid="796262444" class="vimeo-wrap hidden-on-desktop"></div>
            <div class="info-overlay">
                <h2>Отдых в стиле Elite</h2>
            </div>
        </div>
    </template>


</div>
<script src="https://player.vimeo.com/api/player.js"></script>
<script src="/site/coral.ru/js/index.coffee"></script>
</body>